.card {
    //flip card
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 51rem;
    text-align: center;
    &__side {
        height: 51rem;
        transition: all .9s ease;
        background-color: orangered;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }


    //FRONT SIDE
    &__picture {
        height: 45%;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        position: relative;
        overflow: auto;
        background-blend-mode: screen;
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light , $color-secondary-dark), url("../../img/nat-5.jpg") ;
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("../../img/nat-6.jpg") ;
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light,  $color-tertiary-dark), url("../../img/nat-7.jpg") ;
        }
    }
    &__header {
        &--title {
            position: absolute;
            right: 1rem;
            top: 11rem;
            padding: 1rem;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $color-white;
            font-weight: 300;
            letter-spacing: 1px;
            &--1 {
                background-image: linear-gradient(to right, rgba($color-secondary-light,.8),rgba($color-secondary-dark,.8));
            }
            &--2 {
                background-image: linear-gradient(to right, rgba($color-primary-light,.8),rgba($color-primary-dark,.8));
            }
            &--3 {
                background-image: linear-gradient(to right, rgba($color-tertiary-light,.8),rgba($color-tertiary-dark,.8));
            }
        }
        &--subtitle {
            position: absolute;
            right: 1rem;
            top: 16rem;
            padding: 1rem;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $color-white;
            font-weight: 300;
            letter-spacing: 1px;

            &--1 {
                background-image: linear-gradient(to right, rgba($color-secondary-light,.8),rgba($color-secondary-dark,.8));
            }
            &--2 {
                background-image: linear-gradient(to right, rgba($color-primary-light,.8),rgba($color-primary-dark,.8));
            }
            &--3 {
                background-image: linear-gradient(to right, rgba($color-tertiary-light,.8),rgba($color-tertiary-dark,.8));
            }
        }
    }
    //TEXT FRONT SIDE
    &__text {
        padding: 3rem;

        ul {
            list-style-type: none;
            font-size: 1.5rem;

            li {
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //BACK SIDE
    &__offer {
        margin-top: 15rem;
        color: $color-white;
        &--text {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 400;
        }
        &--price {
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: 200;
        }
    }
}
