.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($color-grey-dark-3, .95);
    z-index: 3000;
    padding: 15rem;
    
    
    &__container {
        padding: 0;
    }

    &__content {
        background-color: $color-white;
        padding: 0;
        margin: 0 auto;
        width: 75%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
    }

    &__images {
        width: 30rem;
        height: auto;
        margin: 0;

        &-1,
        &-2 {
            width: 100%;
            height: auto;
        }
    }
    &__paragraph {
        width: 40%;
        float: left;

        &:not(:last-child) {
            margin-right: 10rem;
        }
    }

    &__text {
        padding: 10rem;
        margin-top: 10rem;
    }
    
}