body {
    
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
}

.header {
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--main {
        display: block;
        letter-spacing: 3.5rem;
        font-size: 6rem;
        font-weight: 400;
        animation: moveToRight 1s ease-out;

        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    &--sub {
        display: block;
        letter-spacing: 1.75rem;
        font-size: 2rem;
        font-weight: 400;
        animation: moveToLeft 1s ease-out;
        @include respond(phone) {
            
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
        letter-spacing: .5rem;
    }
}

.heading-tertiary {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.feature-box__title {
    text-transform: uppercase;
    font-size: 1.3rem;
}