.footer {
    padding: 10rem;
    background-color: $color-grey-dark-3;
    color: $color-grey-light-2;
    font-size: 1.5rem;

    @include respond(phone) {
        padding: 3rem;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 5rem;
            margin-top: 2rem;
        }

        @include respond(phone) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin: 0;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
        text-transform: uppercase;   
    }

    &__item {
        display: inline-block;
        transition: all .3s;
        &:hover {
            color: $color-primary-dark;
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__copyright {
        width: 80%;
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        float: right;
        
        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
        
        &:link,
        &:visited {
            text-decoration: none;
            font-weight: 900;
        }
    }
}
