.footer {
    padding: 10rem;
    background-color: $color-grey-dark-3;
    display: block;
    color: $color-grey-light-2;
    font-size: 1.5rem;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        margin-left: -3rem;
    }

    &__list {
        list-style: none;
        text-transform: uppercase;   
    }

    &__item {
        display: inline-block;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            color: $color-primary-dark;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__copyright {
        width: 90%;
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
        float: right;

        &:link,
        &:visited {
            text-decoration: none;
            font-weight: 900;
        }
    }
}